#main-page {
    background: url("/public/images/wtfgames_site_bg.png");
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 24px * 3 - 66px);
    margin-top: 66px;
    display: flex;
}

.main-image__text {
    position: relative;
    margin: auto;
    height: fit-content;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.main-image__text h1 {
    font-size: 60px;
    margin: 0;
}

.main-image__text h2 {
    font-size: 36px;
    margin: 0;
}
